version: '3'
services:
  common.pgsql:
    restart: always

  migrator:
    depends_on: 
      - common.pgsql

  worker:
    restart: always
    depends_on:
      - common.pgsql
      - ml-service

  webapi:
    restart: always
    depends_on:
      - common.pgsql
      - ml-service

  ml-service:
    restart: always
    depends_on:
      - common.pgsql