services:
  common.pgsql:
    image: "ankane/pgvector:v0.5.1"
#    build:
#      context: src/Database
#      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "P@ssword123"

  migrator:
    build:
      context: "src/ShitpostBot"
      dockerfile: "src/ShitpostBot.Infrastructure.Migrator/Dockerfile"
    environment:
      DOTNET_ENVIRONMENT: "Development"
      ConnectionStrings__ShitpostBotDatabase: "Server=common.pgsql;Port=5432;Persist Security Info=False;User ID=postgres;Password=P@ssword123;Database=postgres;"

  worker:
    build:
      context: "src/ShitpostBot"
      dockerfile: "src/ShitpostBot.Worker/Dockerfile"
    environment:
      DOTNET_ENVIRONMENT: "Development"
      ConnectionStrings__ShitpostBotDatabase: "Server=common.pgsql;Port=5432;Persist Security Info=False;User ID=postgres;Password=P@ssword123;Database=postgres;"
      ConnectionStrings__ShitpostBotMessaging: "Server=common.pgsql;Port=5432;Persist Security Info=False;User ID=postgres;Password=P@ssword123;Database=messaging;"
      Discord__Token: "<discord-token>"
      ImageFeatureExtractorApi__Uri: "http://ml-service:5000"
      RepostOptions__RepostSimilarityThreshold: "0.985"

  webapi:
    build:
      context: "src/ShitpostBot"
      dockerfile: "src/ShitpostBot.WebApi/Dockerfile"
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__ShitpostBotDatabase: "Server=common.pgsql;Port=5432;Persist Security Info=False;User ID=postgres;Password=P@ssword123;Database=postgres;"
      ConnectionStrings__ShitpostBotMessaging: "Server=common.pgsql;Port=5432;Persist Security Info=False;User ID=postgres;Password=P@ssword123;Database=messaging;"
      ImageFeatureExtractorApi__Uri: "http://ml-service:5000"
      RepostOptions__RepostSimilarityThreshold: "0.985"

  ml-service:
    build:
      context: "src/ShitpostBot.MlService"
      dockerfile: "src/Dockerfile"
    ports:
      - "5000:5000"