apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "post-reevaluator.fullname" . }}
  labels:
{{ include "post-reevaluator.labels" . | indent 4 }}
spec:
  schedule: "0 0 31 2 *"
  suspend: true
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: {{ default 1 .Values.backoffLimit }}
      template:
        metadata:
          {{- with .Values.podAnnotations }}
          annotations:
{{ toYaml . | indent 12 }}
          {{- end }}
          labels:
{{ include "post-reevaluator.labels" . | indent 12 }}
            {{- with .Values.podLabels }}
{{ toYaml . | indent 12 }}
            {{- end }}
        spec:
          restartPolicy: OnFailure
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
{{ toYaml . | indent 12 }}
          {{- end }}
          serviceAccountName: {{ include "post-reevaluator.serviceAccountName" . }}
          {{- with .Values.podSecurityContext }}
          securityContext:
{{ toYaml . | indent 12 }}
          {{- end }}
          containers:
            - name: {{ .Chart.Name }}
              {{- with .Values.securityContext }}
              securityContext:
{{ toYaml . | indent 16 }}
              {{- end }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Values.global.imageTag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              envFrom:
                - configMapRef:
                    name: {{ include "post-reevaluator.configMapName" . }}
              {{- with .Values.resources }}
              resources:
{{ toYaml . | indent 16 }}
              {{- end }}
          {{- with .Values.nodeSelector }}
          nodeSelector:
{{ toYaml . | indent 12 }}
          {{- end }}
          {{- with .Values.affinity }}
          affinity:
{{ toYaml . | indent 12 }}
          {{- end }}
          {{- with .Values.tolerations }}
          tolerations:
{{ toYaml . | indent 12 }}
          {{- end }}
