name: Build PR

on:
  pull_request:
    branches: [ master ]

env:
  REGISTRY: ghcr.io

jobs:
  build-worker:
    name: Build ShitpostBot.Worker
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build and push Docker image
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: ./src/ShitpostBot
        file: ./src/ShitpostBot/src/ShitpostBot.Worker/Dockerfile
        push: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: shitpostbot-worker:master

  build-ml-service:
    name: Build ShitpostBot.MlService
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./src/ShitpostBot.MlService
          file: ./src/ShitpostBot.MlService/src/Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: shitpostbot-ml-service:master