name: Deploy

on:
  workflow_run:
    branches:
      - master
    workflows:
      - Publish Helm Chart
    types:
      - completed

permissions:
  contents: write
  actions: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Download chart version artifact
        uses: actions/download-artifact@v4
        with:
          name: chart-version
          path: ./
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Set version from image tag
        id: version
        run: |
          CHART_VERSION=$(cat chart-version.txt)

          echo "CHART_VERSION=${CHART_VERSION}" >> $GITHUB_OUTPUT
          echo "Dispatching chart version: ${CHART_VERSION}"

      - name: Trigger GitOps update
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITOPS_DISPATCH_TOKEN }}
          repository: 4sgard-dev/asgard-k8s-ops
          event-type: update-shitpostbot-chart
          client-payload: '{"chart_version": "${{ steps.version.outputs.chart_version }}"}'
